body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/concrete_seamless.png");
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  margin-top: 0px;
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #dddddd;
}

h2,
h3 {
  font-size: 22px;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #ffffff;
  border-bottom: 2px solid #cccccc;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background: #4aaaa5;
}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

nav a:first-child {
  border-left: 0 none;
}

/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid #4aaaa5;
  height: 50px;
}

h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eeeeee;
}

/* main */

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  background: #ffffff;
  border: 1px solid #dddddd;
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 255px;
  margin: 20px 0 25px;
  overflow: auto;
  margin-right: 40px;
}

#img7{
  height: 191.25px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}

 ul {
  list-style-type: none;
    padding-right: 0px;
    padding-left: 0px;
  }


@media screen and (max-width: 980px) {
  
  input[type=text],
  input[type=email],
  textarea {
    height: 20px;
    font-size: 12px;
  }

textarea {
    height: 100px;
}

.main-section {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin: 0 0 15px;
}

body {
    font-size: 12px;
    line-height: 25px;
}

h1, h2, h3, p {
  margin-bottom: 10px;
}

h1 {
  margin-top: 20px;
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 5px;
}

h2, h3 {
  font-size: 12px;
}

#logo {
  width: 150px;
  height: 60px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 50px;
  margin-left: 15px;
}

nav {
  margin-top: 15px;
  margin-right: 25px;
  margin-left: 0;
}

#main-container {
  padding: 90px 15px 0 15px;
}

input[type=submit] {
  padding: 5px 15px;
  font-size: 12px;
}

.work {
  width: 200px;
  margin: 10px 0 10px;
  overflow: auto;
  margin-right: 0;
}

.work img {
  width: 65%;
}

#img7{
  height: 97.5px;
}

.work h3 {
  bottom: 20px;
  width: 65%;
  padding: 10px;
  margin-bottom: 0px;
  line-height: 15px;
}

}

@media screen and (max-width: 768px) {

h1 {
  margin-top: 20px;
}

.work:nth-child(even) {
    margin-right: 20px;
}

#logo {
    margin-left: 15px;
}
  
nav {
    margin-right: 25px;
}
  
#main-container {
    padding: 90px 15px 0 15px;
}
  
.main-section {
    padding-top: 5px;
    width: 100%;
    max-width: 780px;
}

.work {
  width: 274px;
  margin: 10px 0 20px;
  overflow: auto;
}

.work img {
  width: 85%;
  height: 85%;
}

.work h3 {
  bottom: 20px;
  width: 85%;
  padding: 10px;
  margin-bottom: 0px;
  line-height: 10px;
}

input[type=submit] {
  padding: 5px 15px;
  font-size: 12px;
}

#img7{
  height: 174.66px;
}

}

@media screen and (max-width: 640px) {
h1, h2, h3 {
  font-weight: 700;
}

h1 {
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 49px;
  border-bottom: 2px solid #dddddd;
}

h2, h3 {
  font-size: 14px;
}

#masthead {
    position: static;
    margin: 0 0 10px;
  }

#logo {
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
  }

h1 {
    line-height: 25px;
    padding-bottom: 10px;
  }
  
body {
    font-size: 12px;
    line-height: 20px;
  }
  
nav {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

nav a {
    display: inline-block;
    margin-left: 15px;
    margin-right: 7.5px;
    line-height: 18px;
  }

.auth-image {
    float: none;
    display: block;
    width: 85%;
    margin: 5px auto 5px auto;
  }

#main-container {
    padding: 1px 10px 0 10px;
    min-height: 574px;
  }

.main-section {
    float: none;
    display: block;
    max-width: 640px;
    margin: 0 1px 0 1px;
    padding: 0 15px 10px 15px;
  }
  
input[type=text],
input[type=email],
textarea {
  height: 20px;
  font-size: 12px;
}

textarea {
  height: 100px;
}

input[type=submit] {
  padding: 5px 20px;
  font-size: 12px;
}

#contact-form ul {
  margin-bottom: 20px;
}

.work {
  float: none;
  display: block;
}

.work img {
  width: 80%;
}

.work h3 {
  bottom: 20px;
  width: 80%;
  padding: 10px;
  margin-bottom: 0px;
  line-height: 10px;
}

.work:nth-child(even) {
  margin-right: 0;
}

#img7{
  height: 164.39px;
}

}